
    <div class="c-actions">
        <div class="o-wrap">
            <div class="c-actions__content">
                <h3>Działania Zewnętrznego Dyrektora Finansowego</h3>
                
                <article class="o-article">
                    <section class="fade">
                        <h4>Controlling</h4>
                        <ul>
                            <li>Zarządzanie cash flow</li>
                            <li>Obliczanie marży handlowych.</li>
                            <li>Przewidywanie terminu osiągnięcia break-even point.</li>
                            <li>Budżetowanie.</li>
                            <li>Sprawdzanie ROI z projektów marketingowych</li>
                            <li>Kontrolowanie wskaźników finansowych</li>
                        </ul>
                    </section>
                    
                    <section class="fade">
                        <h4>Zarządzanie należnościami i&nbsp;gotówką</h4>
                        <ul>
                            <li>Zarządzanie płynnością i&nbsp;ryzykiem kredytowym.</li>
                            <li>Dbanie o optymalny poziom gotówki.</li>
                            <li>Monitorowanie należności i&nbsp;kontrola ich spływu.</li>
                            <li>Maksymalizacja zysków z&nbsp;nadwyżek finansowych.</li>
                            <li>Przygotowanie i&nbsp;nadzór nad realizacją płatności</li>
                            <li>Wspomaganie poszukiwania zewnętrznych źródeł finansowania.</li>
                        </ul>
                    </section>
                    
                    <section class="fade">
                        <h4>Optymalizacja<br /> Finansów</h4>
                        <ul>
                            <li>Pełna kontrola kosztów firmy.</li>
                            <li>Propozycje optymalizacji kosztów.</li>
                            <li>Ścisłe monitorowanie, jak koszty przekładają się na zyski.</li>
                        </ul>
                    </section>
                </article>
            </div>
        </div>
    </div>
