
    <div class="c-actions">
        <div class="o-wrap">
            <div class="c-actions__content">
                <h3>Współpraca z Zewnętrznym Centrum Księgowości</h3>
                
                <article class="o-article">
                    <section class="fade">
                        <h4>Zdalna Praca i Hybrydowy Model</h4>
                        <ul>
                            <li>W większości przypadków nasi księgowi pracują zdalnie.</li>
                            <li>Hybrydowy model pracy to pełna elastyczność i&nbsp;zwiększona efektywność.</li>
                        </ul>
                    </section>
                    
                    <section class="fade">
                        <h4>Obsługa Programów Księgowych</h4>
                        <ul>
                            <li>Pracujemy na własnych licencjach i klientów, obsługując większość popularnych programów księgowych w&nbsp;Polsce.</li>
                            <li>W ramach potrzeby, podłączamy się do systemów klientów, obsługując zdalnie ich programy księgowe.</li>
                        </ul>
                    </section>
                    
                    <section class="fade">
                        <h4>Zadaniowy System Pracy</h4>
                        <ul>
                            <li>Liczą się zrealizowane zadania, a&nbsp;nie czas spędzony w&nbsp;biurze.</li>
                            <li>Elastyczność czasowa pozwala na lepsze dostosowanie harmonogramu pracy do indywidualnych preferencji.</li>
                            <li>Stawiamy na transparentność w&nbsp;zakresie obowiązków.</li>
                        </ul>
                    </section>
                    
                    <section class="fade">
                        <h4>Współpraca z Krajowymi i&nbsp;Zagranicznymi Przedsiębiorstwami</h4>
                        <ul>
                            <li>Wspieramy polskie i zagraniczne działy księgowości.</li>
                            <li>Wprowadzamy firmy na polski rynek, dostosowując zagraniczne systemy księgowości do krajowych regulacji lub proponując lokalne narzędzia do obsługi księgowości, kadr i&nbsp;płac.</li>
                            <li>Działamy jako podwykonawcy lub na pierwszej linii frontu, bezpośrednio obsługując klientów firmy.</li>
                        </ul>
                    </section>
                </article>
            </div>
        </div>
    </div>
