
    <div class="c-actions">
        <div class="o-wrap">
            <div class="c-actions__content">
                <h3>Usługi Księgowości dla Małych i Średnich</h3>
                
                <article class="o-article">
                    <section class="fade">
                        <ul>
                            <li>Zachowanie zgodności z&nbsp;aktualnymi przepisami podatkowymi i&nbsp;minimalizacja ryzyka wystąpienia błędów podczas rozliczeń podatkowych.</li>
                        </ul>
                    </section>
                    
                    <section class="fade">
                        <ul>
                            <li>Koncentracja na rdzennej działalności firmy, zamiast poświęcania czasu zagadnieniom księgowym.</li>
                        </ul>
                    </section>
                    
                    <section class="fade"
                        <ul>
                            <li>Skupienie na strategii rozwoju biznesu, podczas gdy terminowa i&nbsp;bezproblemowa realizacja wszystkich aspektów księgowości pozostaje w&nbsp;rękach specjalistów.</li>
                        </ul>
                    </section>
                </article>
            </div>
        </div>
    </div>
