
    <div class="c-addresses">
        <div class="o-wrap">
            <div class="o-cols o-cols--2">
                <div class="o-cols__item">
                    <ul class="c-addresses__balls fade">
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <div class="o-cols__item">
                    <article class="o-article fade">
                        <h4>Cafe Finance:</h4>
                        <p>Pl. Bankowy 2, 00-095 Warszawa, Polska</p>
                        <p><em>pon. - czw.: od 9:00 do 17:00</em></p>
                        
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        
                        <h4>Back office:</h4>
                        <p>ul. Piotrkowska 12 lok. 805, 25-510 Kielce</p>
                        <p><em>pon. - czw.: od 9:00 do 17:00</em></p>
                        <p>&nbsp;</p>
                        <p>cafe.finance@cafe.finance</p>
                        <p>T: 22 230 24 74</p>
                    </article>
                </div>
            </div>
        </div>
    </div>
