
    <div class="c-benefits o-area">
        <div class="o-wrap">
            <div class="o-article fade">
                <h3>Dlaczego warto skorzystać z&nbsp;usług Zewnętrznego Centrum Księgowości?</h3>
                 
                <ul>
                    <li>
                        <h5>Bezpieczeństwo</h5>
                        <p>Jesteśmy profesjonalistami z&nbsp;ponad 20-letnim doświadczeniem, posiadamy polisę OC działalności księgowej.</p>
                    </li>
                    
                    <li>
                        <h5>Racjonalizacja kosztów</h5>
                        <p>Oszczędność kosztów utrzymania pracownika na umowie o&nbsp;pracę.</p>
                    </li>
                    
                    <li>
                        <h5>Ciągła praca</h5>
                        <p>Zapewniamy ciągłą, nieprzerwaną pracę, eliminując problemy związane z&nbsp;urlopami i&nbsp;zwolnieniami chorobowymi pracowników.</p>
                    </li>
                    
                    <li>
                        <h5>Kompleksowość</h5>
                        <p>Oferujemy nie tylko usługi AOC, ale także szereg innych, dopasowanych do Twoich potrzeb.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
