
    <div class="c-cooperatewithus o-area js-cooperatewithus">
        <div class="o-wrap">
             <div class="o-article">
                 <h2>Współpraca z Nami</h2>
                 
                 <section class="o-bararea">
                    <div class="o-bararea__bar gs-scrolldown"><i class="o-ball"></i></div>
                    <dl class="fade is-active">
                        <dt>
                            <p>Poziom 1</p>
                            <p>Analiza Finansowa</p>
                         </dt>
                         <dd>
                            <p>Rozpoczynamy od gruntownej analizy Twojej sytuacji finansowej. To jak pierwsze rundy w grze w szachy - każdy ruch ma znaczenie. Nasz zewnętrzny dyrektor finansowy to doświadczony strateg, który dokładnie analizuje każdy element Twoich finansów, identyfikując potencjalne zagrożenia i możliwości.</p>
                         </dd>
                    </dl>
                    
                    <dl class="fade">
                        <dt>
                            <p>Poziom 2</p>
                            <p>Planowanie Taktyczne</p>
                         </dt>
                         <dd>
                            <p>Nasz zespół ekspertów opracowuje dla Ciebie spersonalizowany plan finansowy, uwzględniający Twoje cele, ryzyko i aspiracje. Opracowujemy matrycę wskaźników finansowych i operacyjnych dla Twojej firmy. To jak tworzenie doskonałej taktyki do zdobycia strategicznych obszarów na planszy.</p>
                         </dd>
                    </dl>
                    
                    <dl  class="fade">
                        <dt>
                            <p>Poziom 3</p>
                            <p>Kontrola Otoczenia Finansowego</p>
                         </dt>
                         <dd>
                            <p>Nasz zespół ekspertów monitoruje zmiany na rynku oraz przeprowadza regularne audyty finansowe, dostarczając aktualne informacje i pomoc w podejmowaniu trafnych decyzji finansowych. Niczym w grze, tutaj szybkie reakcje są niezwykle istotne.</p>
                         </dd>
                    </dl>
                 </section>
             </div>
             <div class="o-smallbar o-smallbar--vertical gs-scrolldown"><i></i></div>
        </div>
    </div>
