
    <div class="c-cooperatewithus o-area js-cooperatewithus">
        <div class="o-wrap">
             <div class="o-article fade">
                 <h2>Współpraca z Nami</h2>
                 
                 <section class="o-bararea fade">
                    <div class="o-bararea__bar gs-scrolldown"><i class="o-ball"></i></div>
                    <dl class="fade is-active">
                        <dt>
                            <p>Poziom 1</p>
                            <p>Identyfikacja rzeczywistych potrzeb</p>
                         </dt>
                         <dd>
                            <p>Przeprowadzamy audyt dotychczasowych działań oraz identyfikujemy obszary do poprawy i&nbsp;rozwoju. Poznajemy specyficzne dla branży wymagania i&nbsp;proponujemy odpowiednie rozwiązania.</p>
                         </dd>
                    </dl>
                    
                    <dl class="fade">
                        <dt>
                            <p>Poziom 2</p>
                            <p>Ustalenie sposobu realizacji</p>
                         </dt>
                         <dd>
                            <p>Po dokładnej analizie i&nbsp;ustaleniu możliwości współpracy, przygotujemy dla Ciebie spersonalizowaną ofertę naszych usług, zależną od indywidualnych potrzeb. Możesz oddać nam prowadzenie księgowości w&nbsp;pełnym wymiarze lub wesprzemy Cię tylko w określonym zakresie. Zajmujemy się edukacją i&nbsp;nadzorem wewnętrznego działu księgowego. Wprowadzamy zagraniczne spółki na polski rynek, dostosowując globalne systemy księgowe do polskich standardów.</p>
                         </dd>
                    </dl>
                    
                    <dl class="fade">
                        <dt>
                            <p>Poziom 3</p>
                            <p>Rozpoczęcie współpracy</p>
                         </dt>
                         <dd>
                            <p>Po podpisaniu umowy zaczynamy naszą współpracę. Wprowadzamy efektywne i&nbsp;sprawdzone procesy wewnętrzne tak, by obszar księgowy działał sprawnie i&nbsp;możliwie bezbłędnie. Automatyzujemy procedury, doszkalamy pracowników, doradzamy w&nbsp;zakresie narzędzi zarządczych. Jesteśmy partnerem, doradcą i&nbsp;ekspertem w&nbsp;wielu dziedzinach finansowych!</p>
                         </dd>
                    </dl>
                 </section>
             </div>
             <div class="o-smallbar o-smallbar--vertical gs-scrolldown"><i></i></div>
        </div>
    </div>
