
    <div class="c-cooperatewithus o-area js-cooperatewithus">
        <div class="o-wrap">
             <div class="o-article">
                 <h2>Współpraca z Nami</h2>
                 
                 <section class="o-bararea">
                    <div class="o-bararea__bar gs-scrolldown"><i class="o-ball"></i></div>
                    <dl class="fade is-active">
                        <dt>
                            <p>Poziom 1</p>
                            <p>Rozmowa</p>
                         </dt>
                         <dd>
                            <p>Omówienie Twoich potrzeb - jakiego wsparcia oczekujesz.</p>
                         </dd>
                    </dl>
                    
                    <dl class="fade">
                        <dt>
                            <p>Poziom 2</p>
                            <p>Wycena</p>
                         </dt>
                         <dd>
                            <p>Przygotujemy dla Ciebie wycenę naszych usług - bez niespodzianek.</p>
                         </dd>
                    </dl>
                    
                    <dl class="fade">
                        <dt>
                            <p>Poziom 3</p>
                            <p>Podpisanie Umowy</p>
                         </dt>
                         <dd>
                            <p>Umowa i rozpoczęcie współpracy - zaczynamy działać!</p>
                         </dd>
                    </dl>
                    
                    <dl class="fade">
                        <dt>
                            <p>Poziom 4</p>
                            <p>Zdalne Przekazywanie Dokumentów</p>
                         </dt>
                         <dd>
                            <p>Do 5-ego każdego miesiąca wysyłasz lub udostępniasz swoje dokumenty księgowe w&nbsp;jednej wiadomości online.</p>
                         </dd>
                    </dl>
                    
                    <dl class="fade">
                        <dt>
                            <p>Poziom 5</p>
                            <p>Efektywna Komunikacja</p>
                         </dt>
                         <dd>
                            <p>Wysyłasz lub nagrywasz wiadomość do swojego opiekuna księgowego. Odpowiedź otrzymujesz w&nbsp;ciągu 48h (od poniedziałku do piątku, między 9-17), bez konieczności zużywania godziny konsultacyjnej z&nbsp;abonamentu.</p>
                         </dd>
                    </dl>
                 </section>
             </div>
             <div class="o-smallbar o-smallbar--vertical gs-scrolldown"><i></i></div>
        </div>
    </div>
