
    <div class="c-cooperatewithus o-area js-cooperatewithus">
        <div class="o-wrap">
             <div class="o-article">
                 <h2>Współpraca z Nami</h2>
                 
                 <section class="o-bararea">
                    <div class="o-bararea__bar"><i class="o-ball"></i></div>
                    <dl class="fade is-active">
                        <dt>
                            <p>Usługi Księgowe</p>
                         </dt>
                         <dd>
                            <p>Nasz zespół specjalistów w obszarze księgowości i&nbsp;płac współpracuje zarówno
z&nbsp;potężnymi korporacjami w Polsce, jak i&nbsp;z&nbsp;globalnymi biurami rachunkowymi w&nbsp;ramach usługi AOC - Centrum Outsourcingu Księgowego. Nasze biuro rachunkowe MiŚ, oferuje usługi księgowe dla także dla Małych i&nbsp;Średnich przedsiębiorstw.</p>
                         </dd>
                    </dl>
                    
                    <dl class="fade">
                        <dt>
                            <p>Outsourcing Procesów Biznesowych</p>
                         </dt>
                         <dd>
                            <p>Pomagamy naszym klientom usprawnić procesy i&nbsp;obniżyć koszty, skupiając się na obszarach takich jak księgowość, finanse, kontrolowanie, HR i&nbsp;administracja finansowa.</p>
                         </dd>
                    </dl>
                    
                    <dl class="fade">
                        <dt>
                            <p>Analiza Finansowa<br /> i&nbsp;Rachunkowość Zarządcza</p>
                         </dt>
                         <dd>
                            <p>Jako Zewnętrzny Dział Finansowy zajmujemy się analizą danych księgowych, kontrolowaniem i&nbsp;integracją danych biznesowych, wspomagając naszych klientów i&nbsp;partnerów w&nbsp;podejmowaniu lepszych decyzji.</p>
                         </dd>
                    </dl>
                    
                    <dl class="fade">
                        <dt>
                            <p>Usługi Prawne</p>
                         </dt>
                         <dd>
                            <p>Specjalizujemy się w obszarze prawnym dla przedsiębiorców i osób fizycznych, szczególnie w&nbsp;zabezpieczaniu majątku oraz inwestycji w&nbsp;wierzytelności hipoteczne, współpracując z&nbsp;renomowanymi kancelariami prawnymi w&nbsp;Polsce.</p>
                         </dd>
                    </dl>
                 </section>
             </div>
             <div class="o-smallbar o-smallbar--vertical"><i></i></div>
        </div>
    </div>
