
    <div class="c-cooperatewithus o-area js-cooperatewithus">
        <div class="o-wrap">
             <div class="o-article">
                 <h2>Sprawdź w jakich dziedzinach dobrze się czujemy i&nbsp;jakie obszary wspieramy:</h2>
                 
                 <section class="o-bararea">
                    <div class="o-bararea__bar"><i class="o-ball"></i></div>
                    <dl class="fade s-active">
                        <dt>
                            <p>Inwestycje na Rynku Kapitałowym</p>
                         </dt>
                         <dd>
                            <p>Również inwestujemy w&nbsp;perspektywiczne spółki, fundusze ETF, REIT, nieruchomości, dzieła sztuki, metale szlachetne i&nbsp;prowadzimy doradztwo majątkowe, nie unikając jednocześnie spekulacji walutowej.</p>
                         </dd>
                    </dl>
                    
                    <dl class="fade">
                        <dt>
                            <p>Finansowanie i Inwestowanie</p>
                         </dt>
                         <dd>
                            <p>Inwestujemy w&nbsp;fascynujące przedsięwzięcia biznesowe, a&nbsp;nasz polsko-estoński Syndykat Aniołów Biznesu - CFG.BA, to miejsce, gdzie ludzie są kluczem do sukcesu.</p>
                         </dd>
                    </dl>
                    
                    <dl class="fade">
                        <dt>
                            <p>Działalność Prospołeczna</p>
                         </dt>
                         <dd>
                            <p>Nie zapominamy o&nbsp;społecznej odpowiedzialności - wspieramy uzdolnione sportowo dzieci poprzez nasz MJs Camp, stworzony we współpracy z&nbsp;jednym z&nbsp;najwybitniejszych polskich piłkarzy ręcznych. W&nbsp;końcu to ludzie są kluczem do sukcesu w&nbsp;fascynujących przedsięwzięciach biznesowych.</p>
                         </dd>
                    </dl>
                 </section>
             </div>
        </div>
    </div>
