
    <footer class="c-footer">
        <div class="o-wrap">
            <div class="o-cols">
                <div class="o-cols__item">
                    <img src=<%=require("./img/assets/logo-smartfi.svg")%> alt="SmartFi" loading="lazy" width="125" height="53" />
                    <div class="c-footer__copyrights">&copy; 2024 by Cafe Finance Group</div>
                </div>
                
                <div class="o-cols__item">
                    <% include nav-footer %>
                    
                    <nav class="c-footer__social">
                        <ul>
                            <li>
                                <a href="#">EN</a>
                            </li>
                            <li>
                                <a href="#" class="icon-linkedin"></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </footer>
