
    <div class="c-hero c-hero--home panel">
        <div class="o-wrap">
            <h1>
                <span class="o-lead o-lead--01">Odkryj pasjonujący<br /> świat finansów!</span>
                <span class="o-lead o-lead--02">Odpowiednia strategia<br /> to klucz do Twojego sukcesu!</span>
                
                <div class="o-pill o-pill--yellow-orange left"></div>
                <div class="o-pill o-pill--yellow-orange right"><i></i></div>
                <div class="o-pill o-pill--blue-orange"><i></i></div>
                <div class="o-pill o-pill--green-blue"><i></i></div>
            </h1>            
        </div>
    </div>
