
    <div class="c-hero panel">
        <div class="o-wrap">
            <img src=<%=require("./img/assets/logo-ofo.svg")%> alt="" loading="lazy" width="142" height="35" class="o-logo" />

            <h1>Outsourced<br /> Financial Office</h1>
            <h2>Dobra strategia finansowa<br /> to fundament Twojego biznesu.</h2>
            <i class="o-scrolldown icon-arrow" data-target="#photo-01"></i>
            
            <div class="o-symbols">
                <img src=<%=require("./img/hero/ofo/symbol.svg")%> alt="" loading="lazy" width="838" height="239" />
            </div>
        </div>
    </div>
