
    <div class="c-hero panel">
        <div class="o-wrap">
            <img src=<%=require("./img/assets/logo-aoc.svg")%> alt="" loading="lazy" width="144" height="36" class="o-logo" />

            <h1>Accounting<br /> Outsourcing Center</h1>
            <h2>Zapewnienie solidnych podstaw w księgowości!</h2>
            <i class="o-scrolldown icon-arrow" data-target="#photo-01"></i>
            
            <div class="o-symbols">
                <img src=<%=require("./img/hero/aoc/symbol.svg")%> alt="" loading="lazy" width="700" height="280" />
            </div>
        </div>
    </div>
