
    <div class="c-hero panel">
        <div class="o-wrap">
            <img src=<%=require("./img/assets/logo-mis.svg")%> alt="" loading="lazy" width="125" height="45" class="o-logo" />

            <h1>Księgowość<br /> dla Małych i Średnich</h1>
            <h2>Pomagamy Jednoosobowym Działalnościom<br /> Gospodarczym oraz Spółkom.</h2>
            <i class="o-scrolldown icon-arrow" data-target="#photo-01"></i>
            
            <div class="o-symbols">
<!--                 <img src=<%=require("./img/hero/aoc/symbol.svg")%> alt="" loading="lazy" width="700" height="280" /> -->
            </div>
        </div>
    </div>
