
    <div class="c-intro theme--black panel">
        <div class="o-wrap">
            <article class="o-article fade">
                <img src=<%=require("./img/assets/logo-ofo.svg")%> alt="AOC" loading="lazy" width="142" height="35" />
                <h2>Przemyślana strategia finansowa to podstawa sukcesu w&nbsp;biznesie.</h2>
                <p>Zdobądź kontrolę nad swoim przedsiębiorstwem, skorzystaj z&nbsp;usług Zewnętrznego Dyrektora Finansowego i&nbsp;przekształć przypadkowe działania w&nbsp;świadome zarządzanie!</p>
                <section class="o-more">
                    <a href="ofo.html" class="o-btn o-btn--arrow">Dowiedz się więcej</a>
                </section>
            </article>
        </div>
    </div>
    
    <div class="c-intro theme--blue panel">
        <div class="o-wrap">
            <article class="o-article fade">
                <img src=<%=require("./img/assets/logo-aoc.svg")%> alt="AOC" loading="lazy" width="144" height="36" />
                <h2>Trudne zagadnienia nie muszą być skomplikowane.</h2>
                <p>Korzystaj z naszego wieloletniego doświadczenia, optymalizuj procesy i&nbsp;zyskaj wsparcie poprzez synergię sił i&nbsp;partnerską współpracę z&nbsp;Zewnętrznym Centrum Księgowości!</p>
                <section class="o-more">
                    <a href="aoc.html" class="o-btn o-btn--arrow">Dowiedz się więcej</a>
                </section>
            </article>
        </div>
    </div>
    
    <div class="c-intro theme--yellow panel">
        <div class="o-wrap">
            <article class="o-article fade">
                <img src=<%=require("./img/assets/logo-mis.svg")%> alt="mis" loading="lazy" width="125" height="45" />
                
                <h2>Rozliczenia księgowe<br /> to gra bez tajemnic!</h2>
                <p>Spraw, by tematy związane z&nbsp;księgowością Twojej firmy stały się łatwe i&nbsp;przystępne! Oddaj je zespołowi ekspertów i&nbsp;stwórz sobie przestrzeń na rozwój biznesu.</p>
                <section class="o-more">
                    <a href="mis.html" class="o-btn o-btn--arrow">Dowiedz się więcej</a>
                </section>
            </article>
        </div>
    </div>
