
            <nav class="c-nav js-nav">
                <div class="c-nav__menu js-menu">
                    <ul>      
                        <li class="font-bona"> 
                            <a href="#">OFO</a>
                        </li>
                        <li class="font-bona"> 
                            <a href="#">AOC</a>
                        </li>
                        <li class="font-bona"> 
                            <a href="#">MiŚ</a>
                        </li>
                        <li class="font-bona smartfi"> 
                            <a href="#"><span>smart</span>Fi</a>
                        </li>
                        <li> 
                            <a href="#">O nas</a>
                        </li>
                        <li> 
                            <a href="#">W praktyce</a>
                        </li>
                        <li> 
                            <a href="#">Kontakt</a>
                        </li>
                    </ul>
                    <ul class="o-lang">
                        <li>
                            <a href="#">en</a>
                        </li>
                    </ul>
                </div>   
            </nav>
