
            <nav class="c-nav js-nav">
                <div class="c-nav__menu js-menu">
                    <ul>      
                        <li class="font-bona <% if (page_name === 'page-ofo') { %> current-menu-item <% } %>"> 
                            <a href="ofo.html">OFO</a>
                        </li>
                        <li class="font-bona <% if (page_name === 'page-aoc') { %> current-menu-item <% } %>"> 
                            <a href="aoc.html">AOC</a>
                        </li>
                        <li class="font-bona <% if (page_name === 'page-mis') { %> ccurrent-menu-item <% } %>"> 
                            <a href="mis.html">MiŚ</a>
                        </li>
                        <li class="font-bona smartfi"> 
                            <a href="#"><span>smart</span>Fi</a>
                        </li>
                        <li> 
                            <a href="o-nas.html">O nas</a>
                        </li>
                        <li> 
                            <a href="w-praktyce.html">W praktyce</a>
                        </li>
                        <li> 
                            <a href="kontakt.html">Kontakt</a>
                        </li>
                    </ul>
                    <ul class="o-lang">
                        <li>
                            <a href="#">en</a>
                        </li>
                    </ul>
                </div>   
            </nav>
