
    <div class="c-packages">
        <div class="o-wrap">
            <header class="o-article">
                <h3>Poznaj Nasze Pakiety Subskrypcyjne</h3>
                <p>Dowiedz się więcej o naszych podstawowych pakietach subskrypcyjnych, dostosowanych do rzeczywistych potrzeb Twojej firmy. <span class="color--green">Zainwestuj w swój sukces biznesowy</span> – zatrudnij aż do 6 ekspertów w cenie jednego dyrektora finansowego. Przenieś swój biznes na wyższy poziom zarządzania już dziś!</p>
            </header>
            
            <article class="o-article">
                <section class="fade">
                    <h2>Mini</h2>
                    <p>10h/m-c efektywnej pracy</p>
                    <ul>
                        <li>Dyrektor Finansowy</li>
                        <li>Główny księgowy</li>
                        <li>Kontroler finansowy</li>
                        <li>Analityk ds. narzędzi</li>
                        <li>Księgowa</li>
                        <li>Asystent księgowy</li>
                    </ul>
                    <h3>5 500 zł/m-c</h3>
                    <p>netto</p>
                </section>
                
                <section class="fade">
                    <h2>Standard</h2>
                    <p>15h/m-c efektywnej pracy</p>
                    <ul>
                        <li>Dyrektor Finansowy</li>
                        <li>Główny księgowy</li>
                        <li>Kontroler finansowy</li>
                        <li>Analityk ds. narzędzi</li>
                        <li>Księgowa</li>
                        <li>Asystent księgowy</li>
                    </ul>
                    <h3>8 000 zł/m-c</h3>
                    <p>netto</p>
                </section>
                
                <section class="fade">
                    <h2>Premium</h2>
                    <p>30h/m-c efektywnej pracy</p>
                    <ul>
                        <li>Dyrektor Finansowy</li>
                        <li>Główny księgowy</li>
                        <li>Kontroler finansowy</li>
                        <li>Analityk ds. narzędzi</li>
                        <li>Księgowa</li>
                        <li>Asystent księgowy</li>
                    </ul>
                    <h3>13 000 zł/m-c</h3>
                    <p>netto</p>
                </section>
            </article>
        </div>
    </div>
