
    <div class="c-packages">
        <div class="o-wrap">
            <header class="o-article">
                <h3>Poznaj Nasze Pakiety Subskrypcyjne</h3>
                <p>Jeśli miesięcznie Twoja firma dostarcza ponad 100 dokumentów – <br />
<span class="color--blue">sprawdź ofertę AOC!</span></p>
            </header>
            
            <article class="o-article">
                <section class="fade">
                    <h3>Spółki</h3>
                    
                    <p>&nbsp;</p>
                    <p>stały abonament</p>
                    
                    <h3>390 zł netto</h3>
                    <ul>
                        <li>100-400 zł netto w zależności<br /> od liczby dokumentów:</li>
                        <li>sprawozdanie</li>
                        <li>pracownicy</li>
                        <li>deklaracje</li>
                    </ul>
                </section>
                
                <section class="fade">
                    <h3>Jednoosobowe Działalności Gospodarcze</h3>
                    <p>(na ryczałcie)</p>
                    <p>&nbsp;</p>
                    <p>stały abonament</p>
                    <h3>200 zł netto</h3>
                </section>
                
                <section class="fade">
                    <h3>Jednoosobowe Działalności Gospodarcze</h3>
                    <p>(nie na ryczałcie)</p>
                    <p>&nbsp;</p>
                    <p>stały abonament</p>
                    <h3>130 zł netto</h3>
                    <ul>
                        <li>5,7 zł netto za każdy dokument</li>
                    </ul>
                </section>
            </article>
        </div>
    </div>
