
    <div class="c-photo c-photo--home">
        <article class="o-article fade">
            <h3>Cafe Finance to grupa ludzi<br /> zafascynowanych światem finansów.</h3>
            <p>Jesteśmy partnerem biznesowym zarówno dla firm z&nbsp;grupy MŚP,<br /> jak i&nbsp;globalnych przedsiębiorstw, rodzinnych spółek, instytucji czy fundacji.</p>
            <section class="o-more">
                <a href="o-nas.html" class="o-btn o-btn--arrow">Dowiedz się więcej</a>
            </section>
        </article>
        <div class="o-photo">
            <img srcset="<%=require("./img/photo/home.webp")%> 1x, 
                         <%=require("./img/photo/home@2x.webp")%> 2x" 
                         alt="" loading="lazy" width="1440" height="950" 
                         src=<%=require("./img/photo/home.webp")%> />
        </div>
        <div class="o-smallbar o-smallbar--vertical gs-scrolldown"><i></i></div>
    </div>
