
    <div class="c-photo c-photo--ofo">
        <article class="o-article fade">
            <h3>Pozwól nam wprowadzić Cię<br />
w świat finansów.
            </h3>
            
            <h5>Zacznij mądrze zarządzać przyszłością finansową<br />
swojej firmy! Sukces nie musi być przypadkowy.</h5>
        </article>
        <div class="o-photo">
        <img srcset="<%=require("./img/photo/ofo-02.webp")%> 1x, 
                     <%=require("./img/photo/ofo-02@2x.webp")%> 2x" 
                     alt="" loading="lazy" width="1440" height="950" 
                     src=<%=require("./img/photo/ofo-02.webp")%> />
        </div>
    </div>
