
    <div class="c-photo c-photo--01 panel" id="photo-01">
        <article class="o-article fade">
            <p>Księgowość dla Małych i&nbsp;Średnich (MiŚ) sprawia,<br />
że obsługa księgowa staje się łatwa i&nbsp;przejrzysta.</p>
        </article>
        <div class="o-photo">
            <img srcset="<%=require("./img/photo/mis-01.webp")%> 1x, 
                     <%=require("./img/photo/mis-01@2x.webp")%> 2x" 
                     alt="" loading="lazy" width="1440" height="950" 
                     src=<%=require("./img/photo/mis-01.webp")%> />
        </div>
    </div>
