
    <div class="c-photo c-photo--ofo panel" id="photo-01">
        <article class="o-article fade">
            <p>Zewnętrzny Dyrektor Finansowy pomoże Ci zaplanować i osiągać cele, dzięki szczegółowej analizie, wiedzy opartej na wieloletniemu doświadczeniu i&nbsp;miejętności prognozowania różnorodnych wariantów wydarzeń.</p>
    
            <p>&nbsp;</p>

            <p>Pomagamy małym, średnim i&nbsp;dużym firmom, przedsiębiorstwom rodzinnym, klubom sportowym, instytucjom.</p>
        </article>
        <div class="o-photo">
            <img srcset="<%=require("./img/photo/ofo-01.webp")%> 1x, 
                     <%=require("./img/photo/ofo-01@2x.webp")%> 2x" 
                     alt="" loading="lazy" width="1440" height="1302" 
                     src=<%=require("./img/photo/ofo-01.webp")%> />
        </div>
    </div>
