
    <div class="c-photo panel" id="photo-01">
        <article class="o-article fade">
            <p>Jako Centrum Usług Księgowych i&nbsp;Kadrowo-Płacowych<br />
dostarczamy nie tylko usługi, ale także strategiczną wizję,<br />
jak skutecznie zarządzać finansami i&nbsp;personelem.</p>

            <p>&nbsp;</p>

            <p>Pomagamy średnim i&nbsp;dużym firmom, polskim oddziałom zagranicznych korporacji, a&nbsp;także międzynarodowym biurom rachunkowym i&nbsp;ich klientom.</p>
        </article>
        <div class="o-photo">
        <img srcset="<%=require("./img/photo/aoc-01.webp")%> 1x, 
                     <%=require("./img/photo/aoc-01@2x.webp")%> 2x" 
                     alt="" loading="lazy" width="1440" height="950" 
                     src=<%=require("./img/photo/aoc-01.webp")%> />
        </div>
    </div>
