
    <div class="c-photo">
        <article class="o-article fade">
            <p>Rozpocznij swoją grę o prostotę i&nbsp;efektywność
z&nbsp;Księgowością dla Małych i&nbsp;Średnich już teraz!
Bez zbędnych zadęć - tylko czysta księgowość!</p>
        </article>
        <div class="o-photo">
            <img srcset="<%=require("./img/photo/mis-02.webp")%> 1x, 
                     <%=require("./img/photo/mis-02@2x.webp")%> 2x" 
                     alt="" loading="lazy" width="1440" height="950" 
                     src=<%=require("./img/photo/mis-02.webp")%> />
        </div>
    </div>
