
    <div class="c-photo panel">
        <article class="o-article fade">
            <p>Jesteśmy zespołem doświadczonych profesjonalistów, a nasza grupa biznesowa obejmuje szereg obszarów zarządzania finansami - od prostej rachunkowości, po rynki kapitałowe.</p>
        </article>
        <div class="o-photo">
            <img srcset="<%=require("./img/photo/about.webp")%> 1x, 
                     <%=require("./img/photo/about@2x.webp")%> 2x" 
                     alt="" loading="lazy" width="1440" height="1002" 
                     src=<%=require("./img/photo/about.webp")%> />
        </div>
    </div>
