
    <div class="c-photo" id="photo-02">
        <article class="o-article fade">
            <p>Pozwól nam doskonale zadbać<br /> o&nbsp;Twoją księgowość.</p>
        </article>
        <div class="o-photo">
        <img srcset="<%=require("./img/photo/aoc-02.webp")%> 1x, 
                     <%=require("./img/photo/aoc-02@2x.webp")%> 2x" 
                     alt="" loading="lazy" width="1440" height="950" 
                     src=<%=require("./img/photo/aoc-02.webp")%> />
        </div>
    </div>
