
    <div class="c-sfi" id="sfi">
        <div class="o-wrap">
            <figure  class="c-sfi__content fade">
                <img src=<%=require("./img/assets/logo-sfi.svg")%> alt="sFi" loading="lazy" width="200" height="200" />
                <figcaption class="o-article">
                    <h3>Poznaj platformę smartFi, która ułatwi zarządzanie finansami Twojego przedsiębiorstwa.</h3>
                    <ul>
                        <li>Gotowe schematy raportowania, byś mógł w każdym momencie wyciągnąć potrzebne informacje</li>
                        <li>Zebranie i&nbsp;analiza danych ad hoc dzięki pomocy AI.</li>
                        <li>Wersja webowa i&nbsp;aplikacja oparta na poleceniach głosowych z&nbsp;modułem edukacyjnym.</li>
                    </ul>
                    <div class="o-more">
                        <a href="kontakt.html" class="o-btn o-btn--arrow">Dowiedz się więcej</a>
                    </div>
                </figcaption>
            </figure>
        </div>
    </div>
