
    <div class="c-textblock c-textblock--01 theme--black">
        <div class="o-wrap">
            <article class="fade">
                <p>Dla współpracujących z&nbsp;nami firm jesteśmy partnerem w&nbsp;biznesie. <span class="color--green">Zależy nam przede wszystkim na ludziach.</span></p>

                <p>&nbsp;</p>
                
                <p>Dlatego jako Cafe Finance Group chcemy nie tylko obsługiwać klientów biznesowych, ale również tworzyć wartość dla społeczności, w&nbsp;której działamy.</p>
            </article>
        </div>
    </div>
