
    <div class="c-textblock c-textblock--02">
        <div class="o-wrap">
            <article class="fade">
                <p>Zapraszamy Cię<br /> do współpracy!</p>
            </article>
        </div>
    </div>
