
    <div class="c-topbar">
        <div class="o-wrap">
            <a href="index.html" class="o-logo">
                <img src=<%=require("./img/assets/logo-cf.svg")%> alt="Cafe Finance" loading="lazy" width="202" height="25" />
            </a>
            <% includenav %>
        </div>
    </div>
