
    <div class="c-wantmore">
        <div class="o-wrap">
            <figure>
                <img srcset="<%=require("./img/owners/dorota.webp")%> 1x, 
                             <%=require("./img/owners/dorota@2x.webp")%> 2x" 
                             alt="" loading="lazy" width="214" height="214" 
                             src=<%=require("./img/owners/dorota.webp")%> />

                <figcaption class="o-article">
                    <h3>Zainteresowany? Skontaktuj Się z&nbsp;Nami!</h3>
                    <p>Dowiedz się więcej, umawiając się na bezpłatną konsultację z&nbsp;naszym zespołem.</p>
                    <section class="o-more">
                        <a href="kontakt.html" class="o-btn o-btn--arrow">Dowiedz się więcej</a>
                    </section>
                </figcaption>
            </figure>
        </div>
    </div>
