
    <div class="c-whywe o-area">
        <div class="o-wrap">
            <div class="o-article fade">
                <h3>Dlaczego My?</h3>
                 
                <ul>
                    <li>
                        <h5>Doświadczenie</h5>
                        <p>Ponad 20&nbsp;at wsparcia księgowego dla dużych firm.</p>
                    </li>
                    
                    <li>
                        <h5>Eksperci</h5>
                        <p>Zespół 10 ekspertów.</p>
                    </li>
                    
                    <li>
                        <h5>Zaufanie</h5>
                        <p>Ponad 50 zadowolonych klientów.</p>
                    </li>
                </ul>
            </div>
            <div class="o-smallbar o-smallbar--horizontal gs-scrollleft"></div>
        </div>
    </div>
