body {
	width: 100%;
	background-color: $c-gray;
	
	&.page-contact {
    	padding-top: clamp(64px, toRem(98), toRem(98));
	}
	
	//&:not(.page-home) {
    	//padding-top: clamp(64px, toRem(98), toRem(98));
//	}
}

html {
	-webkit-text-size-adjust: 100%;
}
