html {    
    @media ( max-width: $base + px ) {
        font-size: calc(16 / ($base) * 100 * 1vw);
    }
}

a {
	color: inherit;
	cursor: pointer;
	text-decoration: none;
	
	.is-loaded & {
        @extend %anim;
    }
	
	&:hover,
    &:active,
    &:focus {
        outline: none;
    }
}

body {
	@include antialias;
	line-height: normal;
	text-rendering: optimizeSpeed;
	font: {
		family: $text;
		weight: $semibold;
	}
	color: $c-black;
}

input {
    font-size: #{$base-font-size}px;
}

strong {
    font-weight: $bold;
}

::selection {
	
}

/*

hr {
    background-color: $c-gray-04;
    border-top: 0;
    width: 100%;
    height: 3px;
    margin: 0 0 50px 0;
}
*/


u {
    text-decoration-color: var(--primary-color);
}


