.c-cv {
    @extend %rel; z-index: 10;
    background-color: $c-gray;

    &__item {
        @extend %flex;
        
        @media ( max-width: $tablet_portrait + px ) {
        	flex-wrap: wrap;
        }
        
        img {
            @extend %fit;
        }
        
        .o-photo {
            width: 100%;

            @media ( min-width: $tablet_portrait + 1px ) {
            	width: 50%;
            }
        }

        figcaption {
            @extend %flex;
            @extend %flex-x;
            @extend %flex-column;
            padding: clamp(24px, toRem(50), toRem(50)) toRem(80) clamp(24px, toRem(50), toRem(50)) toRem(50);
            
            @media ( min-width: $tablet_portrait + 1px ) {
                width: 50%;
            }
            
            @media ( max-width: $tablet_portrait + px ) {
            	padding: clamp(24px, toRem(50), toRem(50));
            }

            h5 {
                margin: 0;
            }

            p {
                @extend %fs-18;
            }
        }
        
        &:nth-of-type(1) {
            @extend %theme--black;
            
            @media ( max-width: $tablet_portrait + px ) {
            	flex-direction: column-reverse;
            	margin-bottom: 24px;
            }
        }
        
        &:nth-of-type(2) {
            @media ( min-width: $tablet_portrait + 1px ) {
                flex-direction: row-reverse;
            }
            
            @media ( max-width: $tablet_portrait + px ) {
                flex-direction: column-reverse;
            }
        }
    }
}