.c-hero {
    //height: calc(100vh - clamp(64px, toRem(98), toRem(98)));
    background-color: $c-gray;
    min-height: 600px;
    //padding-top: calc(100vh - clamp(64px, toRem(98), toRem(98)));
    //overflow: hidden;
    
    &--blog {
        @extend %section;
        min-height: 0;
        margin-top: clamp(64px, toRem(98), toRem(98));
        
        h1 {
            margin-bottom: 24px;
        }
    }

    &--home {
        overflow: hidden;
    }

    .o-logo {
        @media ( min-width: $tablet_portrait + 1px ) {
        	position: absolute;
            left: toRem(48); top: 50px;
        }
        
        @media ( max-width: $tablet_portrait + px ) {
            margin: 0 auto 24px auto;
        }
    }

    .o-wrap {
        @extend %flex;
        @extend %flex-column;
        @extend %flex-x;
        @extend %rel;
        height: 100%;
        text-align: center;
        
        h1 {
            @extend %fs-80;
            @extend %rel;
            width: 100%;
            margin: {
                left: auto;
                right: auto;
            }
            
            .page-home & {
                @media ( max-width: $smartphone + px ) {
                    display: flex;
                    align-items: center;
                	height: 200px;
                }
            }
        }
        
        h2 {
            @extend %fs-40;
        }
    }

    .page-aoc &,
    .page-ofo &,
    .page-mis & {
        padding: {
            top: clamp(64px, toRem(98), toRem(98));
            bottom: clamp(64px, toRem(98), toRem(98));
        }
        
        h1 {
            margin-bottom: 48px;
        }
        
        .o-symbols {
            @extend %abs; z-index: -1;
            left: 50%; top: 50%;
            transform: translate3d(-50%, -50%, 0);
        }
    }

    .page-aoc & {
        @extend %theme--blue;        

        .o-symbols {
            width: toRem(700);
        }
    }
    
    .page-mis & {
        @extend %theme--yellow;        

        .o-symbols {
            width: toRem(249);
        }
    }

    .page-ofo & {
        @extend %theme--black;

        .o-symbols {
            left: 10%;
            transform: translate3d(0, -50%, 0);
            width: toRem(838);
        }
    }
    
    .o-ball {
        @extend %abs;
        flex-shrink: 0;
        width: toRem(200);
        height: toRem(200);
        border-radius: 50%;
        aspect-ratio: 1 / 1;
        
        &--yellow {            
            background-color: $c-yellow;
        }
        
        &--orange-yellow {
            left: 0; top: 50%;
            transform: translate3d(0, -50%, 0);
            background: linear-gradient(to right,  #ffb800 0%,#ff7b31 100%);
            
        }
    }
    
    .o-lead {
        @extend %rel; z-index: 10;

        &--02 {
            visibility: hidden;
            display: none;
        }
    }
    
    .o-pill {
        @extend %abs;
        flex-shrink: 0;
        width: 200px; height: 300px;
        border-radius: 100px;
        margin: 0 auto;
        visibility: hidden;
        
        i {
            @extend %abs;
            left: 0; top: 0;
            display: block;
            width: 200px; height: 200px;
            border-radius: 50%;
        }
        
        &--blue-orange {
            left: calc( 4 * toRem($padding)); bottom: 200%;
            transform: translate3d(0, 100%, 0);
            width: 200px; height: 300px;
            transform: translate3d(0, 0, 0);
            background: linear-gradient(180deg, $c-blue 0%, $c-orange 100%);
        }
        
        &--green-blue {
            left: 50%; top: 100%;
            transform: translate3d(-50%, 24px, 0);
            width: 200px; height: 300px;
            background: linear-gradient(180deg, $c-green 0%, $c-blue 100%);
            visibility: visible;

            i {
                background-color: $c-green;
            }
        }
        
        &--yellow-orange {
            width: 500px; height: 200px;
            background: linear-gradient(to right,  $c-yellow 0%, $c-orange 100%);
            
            i {
                background-color: $c-yellow;
            }
            
            &.left {
                visibility: visible;
                top: 50%; //right: 0;
                left: '3em';
                transform: translate3d(0, -50%, 0);
                width: 200px;
            }
            
            &.right {
                visibility: visible;
                right: 0;
                top: 0;
                transform: translate3d(0, -100%, 0) translateY(-24px);
                width: 200px;
                
            }
        }
    }
}