.c-textblock {
    @extend %section;
    @extend %rel; z-index: 10;
   // background-color: $c-gray;

    article {
        margin: 0 auto;
        text-align: center;
        
        @media ( min-width: $tablet_portrait + 1px ) {
	        width: toRem(890);
        }
    }

    .page-about & {
        &--01 {
            p {
                @extend %fs-32;
            }
        }
            
        &--02 {
            background-color: $c-gray;

            p {
                @extend %fs-80;
            }            
        }
    }
}