.c-topbar {
    @include z-index(topbar);
    position: fixed;
    left: 0; top: 0;
    width: 100%;
    height: clamp(64px, toRem(98), toRem(98));
    background-color: $c-gray;
    
    .o-logo {
        width: clamp(150px, toRem(202), toRem(202));
        flex-shrink: 0;
    }

    .o-wrap {
        @extend %flex;
        @extend %flex-y;
        height: 100%;
    }
}