.c-topbar {
    @include z-index(topbar);
    position: fixed;
    left: 0; top: 0;
    width: 100%;
    height: 97px;
    background-color: $c-gray-01;
    
    .o-logo {
        flex-shrink: 0;
    }

    .o-wrap {
        @extend %flex;
        @extend %flex-y;
        height: 100%;
    }
}