<% include ./src/includes/head %>
<% const page_name = 'page-aoc' %>
<body class="page-aoc">
<% include ./src/includes/head-gtm--noscript %>

    <% include ./src/includes/cover %>
    <% include ./src/includes/topbar %>
    <% include ./src/includes/hero--aoc %>
    <% include ./src/includes/photo--aoc-01 %>
    <% include ./src/includes/cooperatewithus--aoc %>
    <% include ./src/includes/benefits--ofo %>
    <% include ./src/includes/actions--aoc %>
    <% include ./src/includes/whywe--aoc %>
    <% include ./src/includes/photo--aoc-02 %>
    <% include ./src/includes/wantmore--aoc %>
    <% include ./src/includes/footer %>

</body>
</html>


