<% include ./src/includes/head %>
<body>
<% include ./src/includes/head-gtm--noscript %>

    <% include ./src/includes/cover %>
    <% include ./src/includes/topbar %>
    <% include ./src/includes/hero %>
    
    <div class="c-photo">
        
    </div>
    

</body>
</html>


