<% include ./src/includes/head %>
<% const page_name = 'page-contact' %>
<body class="page-contact">
<% include ./src/includes/head-gtm--noscript %>

    <% include ./src/includes/cover %>
    <% include ./src/includes/topbar %>
    <% include ./src/includes/addresses %>
    <% include ./src/includes/cooperation %>
    
    <div class="c-contact">
        <div class="o-wrap">
            <div class="c-contact__form">
                <article class="o-article fade">
                    <p>Chcesz dowiedzieć się więcej o&nbsp;naszych usługach
lub zapisać się na bezpłatną konsultację? <span class="color--green">Napisz do nas!</span></p>
                </article>
            
                <form>
                    <input type="email" placeholder="Adres e-mail" />
                    <input type="tel" placeholder="Numer Telefonu" />
                    <input type="text" placeholder="Temat rozmowy" />
                    
                    <input type="checkbox" checked id="agree">
                    <label for="agree">Wyrażam zgodę na przetwarzanie danych osobowych zgodnie z&nbsp;polityką prywatności oraz otrzymywanie drogą elektroniczną informacji handlowych oraz marketingowych od CFG P.S.A.*  Polityka Prywatności</label>
                    
                    <button type="submit">Prześlij zapytanie</a> 
                </form>
            </div>
        </div>
    </div>
    
    <% include ./src/includes/footer %>

</body>
</html>


