<% include ./src/includes/head %>
<% const page_name = 'page-contact' %>
<body class="page-contact">
<% include ./src/includes/head-gtm--noscript %>

    <% include ./src/includes/cover %>
    <% include ./src/includes/topbar %>
    <% include ./src/includes/addresses %>
    <% include ./src/includes/cooperation %>
    <% include ./src/includes/footer %>

</body>
</html>


