<% include ./src/includes/head %>
<% const page_name = 'page-mis' %>
<body class="page-mis">
<% include ./src/includes/head-gtm--noscript %>

    <% include ./src/includes/cover %>
    <% include ./src/includes/topbar %>
    <% include ./src/includes/hero--mis %>
    <% include ./src/includes/photo--mis-01 %>
    <% include ./src/includes/cooperatewithus--mis %>
    <% include ./src/includes/benefits--mis %>
    <% include ./src/includes/actions--mis %>
    <% include ./src/includes/packages--mis %>
    <% include ./src/includes/whywe--mis %>
    <% include ./src/includes/photo--mis-02 %>
    <% include ./src/includes/wantmore--mis %>
    <% include ./src/includes/footer %>

</body>
</html>


