<% include ./src/includes/head %>
<% const page_name = 'page-about' %>
<body class="page-about">
<% include ./src/includes/head-gtm--noscript %>

    <% include ./src/includes/cover %>
    <% include ./src/includes/topbar %>
    <% include ./src/includes/photo--about %>
    <% include ./src/includes/cooperatewithus--about-01 %>
    <% include ./src/includes/textblock--about-01 %>
    <% include ./src/includes/cooperatewithus--about-02 %>
    <% include ./src/includes/cv %>
    <% include ./src/includes/textblock--about-02 %>    
    <% include ./src/includes/footer %>

</body>
</html>


