<% include ./src/includes/head %>
<% const page_name = 'page-ofo' %>
<body class="page-ofo">
<% include ./src/includes/head-gtm--noscript %>

    <% include ./src/includes/cover %>
    <% include ./src/includes/topbar %>
    <% include ./src/includes/hero--ofo %>
    <% include ./src/includes/photo--ofo-01 %>
    <% include ./src/includes/cooperatewithus--ofo %>
    <% include ./src/includes/benefits--ofo %>
    <% include ./src/includes/actions--ofo %>
    <% include ./src/includes/packages--ofo %>
    <% include ./src/includes/whywe--ofo %>
    <% include ./src/includes/photo--ofo-02 %>
    <% include ./src/includes/wantmore--ofo %>
    <% include ./src/includes/footer %>

</body>
</html>


