<% include ./src/includes/head %>
<% const page_name = 'page-blog' %>
<body class="page-blog">
<% include ./src/includes/head-gtm--noscript %>

    <% include ./src/includes/cover %>
    <% include ./src/includes/topbar %>
    <% include ./src/includes/hero--blog %>
    <% include ./src/includes/blog %>
    <% include ./src/includes/footer %>

</body>
</html>


