<% include ./src/includes/head %>
<% const page_name = 'page-blog' %>
<body class="page-blog-single">
<% include ./src/includes/head-gtm--noscript %>

    <% include ./src/includes/cover %>
    <% include ./src/includes/topbar %>
    <% include ./src/includes/blog-single %>
    <% include ./src/includes/footer %>

</body>
</html>
